.DS_Store
.thumbs.db

#BACK
.deta/
venv/
__pycache__/
main.py

# Quasar related
.quasar/
dist/
node_modules/
quasar.conf.js

.env
.firebase/
# .firebaserc
.vscode/

# Editor directories and files
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

.npm/
.eslintcache

pids
*.pid
*.seed
*.pid.lock